/* Styles for the Advanced Markup assignment. */


.top-nav li {
	display: inline;
}

.top-nav li a {
	text-decoration: none;
	padding: 1rem;
	background-color: rgb(202, 219, 247);
}

.top-nav li a.active {
	text-decoration: none;
	padding: 1rem;
	background-color: rgb(177, 237, 161);
}

aside {
	width: 30%;
	padding: 2%;
	background-color: rgb(177, 237, 161);
	background-color: rgba(177, 237, 161, 0.8);
	border-radius: 1.5rem;
	float: right;
}

img {
	float: left;
}

.bio-photo {
	border: 0.01rem dashed black;
}

section {
	width: 60%;
	padding: 2%;
    float: left;
	font-size: 1.2em;
	line-height: 1.5em;
}

li {
	list-style: none;
}

table {
	border-collapse: collapse;
}

th, td {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	border: 0.01rem solid black;
}

footer {
	clear: both;
}

.footnote {
	text-decoration: none;
}

.smalltext {
	font-size: 0.75rem;
}

.bottom-nav li {
	display: inline;
}

.page-credit {
	font-size: 0.75rem;
	text-align: right;
}

.bibliography {
	font-size: 0.75rem;
}
